<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="10 seconds">
    
    <property name="LOG_PATH" value="../../model/logs"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %p [%t %C{35}:%L]: %m%n"/>
    <property name="LOG_MAX_AGE" value="180"/>
    <property name="LOG_MAX_SIZE" value="50MB"/>
    <property name="LOG_TMAX_SIZE" value="1GB"/>
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
    
    <!-- 基础日志信息 -->
	<root level="INFO" additivity="true">
		 <appender-ref ref="stdout" /> 
	</root>
	
	
	<logger name="org.springframework" level="ERROR"/>
	<logger name="s.w.s.m.m.a.RequestMappingHandlerMapping" level="ERROR"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
	<logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="ERROR"/>
	<logger name="org.apache.sshd.common.util.SecurityUtils" level="ERROR"/>
	<logger name="org.apache.tomcat.util.net.NioSelectorPool" level="ERROR"/>
	<logger name="org.crsh.plugin" level="ERROR"/>
	<logger name="org.crsh.ssh" level="ERROR"/>
	<logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
	<logger name="org.thymeleaf" level="ERROR"/>
	<!-- 新建数据库表和修改 -->
	<logger name="com.model.system.createtable.mapper" level="DEBUG" >
		<appender class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder><pattern>${LOG_PATTERN}</pattern></encoder>
			<file>${LOG_PATH}/database.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/database.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
	            <MaxHistory>${LOG_MAX_AGE}</MaxHistory>
	            <maxFileSize>${LOG_MAX_SIZE}</maxFileSize>    
   				<totalSizeCap>${LOG_TMAX_SIZE}</totalSizeCap>
			</rollingPolicy>
		</appender>
	</logger>
</configuration>